<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'index.css') }}">
    <title>MatricCode</title>
</head>
<body>
   <h1>Welcome to My Matric Code exercise</h1>
   <h2>The purpose of this exercise is it save text to a file and be able to load that text later</h2>

   <form action="/save">
        Text:<input type='text' name='text'><br>
        <input type='submit' value='Submit'>
    </form>

    <br />

    <form action="/load">
        <input type='Submit' value='Load'>
        <p id="text">{{ loaded_text }}</p>
        </form>
</body>
</html>